version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: I5E2_DB
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: I5E2
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql


  spring:
    build: .
    container_name: I5E2
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/I5E2
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 1234

volumes:
  mysql-data: